.tableContainer {
  overflow-x: auto;

  .coin {
    margin-bottom: 10px;
  }

  .select_block {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      color: black;
      font-family: 'Roboto';
      font-weight: 500;
    }

    select {
      font-weight: 400;
      margin-bottom: 2px;
    }
  }


  .table {
    width: 100%;
    max-width: 1400px !important;
    border-collapse: collapse;
    border-top: 2px solid whitesmoke;
    margin-bottom: 100px;


    tbody {
      tr {
        transition: all 0.3s ease;

        &:hover {
          background: #e6f0ff;
        }
      }
    }

    .coinLink {

      display: flex;
      align-items: center;
      width: 165px;
      margin-right: 15px;
    }

    .coinLink img {
      width: 20px;
      max-width: 100%;
      margin-right: 8px;
    }

  }

  .headerCell {
    color: black;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;


    .headerCellWithFlex {
      display: flex;
      align-items: center;
    }

    .headerFlex {
      font-family: 'Roboto';
      display: flex;
      align-items: center;

      span:hover {
        cursor: pointer;
      }
    }

    .sortIcon {
      width: 20px;
      font-size: 16px;
      color: black;
    }


    .headerCellWithFlex.active .sortIcon {
      color: #007bff;
    }
  }

  .datacell_block_wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .transaction_type {
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Prompt';
      border-radius: 50%;
      background: #e6f0ff;
    }

    .datacell_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      color: black;
      font-family: 'Roboto';


    }
  }

  .datacell_block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: black;
    font-family: 'Roboto';


  }

  .avg_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .avg_block_dollars_item {

    }

    .avg_block_dollars_item2 {

    }
  }

  .total_coins {

    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .total_coins_span_div {
      display: flex;
      align-items: center;
      gap: 5px;


      .total_coins_span_div_span {
        font-size: 0.9rem;
      }

      .total_coins_span_div_span2 {
        font-size: 0.8rem;
        color: gray;
      }
    }
  }

  .dataCell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
    height: 70px;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    font-family: 'Roboto';
    color: black;


    span {
      color: black;
      font-family: 'Roboto';
    }

    .profit_block {
      display: flex;
      flex-direction: column;
      gap: 5px;


    }

    .svg_div {
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        cursor: pointer;
      }
    }

  }

  .symbol {
    margin-left: 5px;
    color: gray;
    font-weight: 400;
  }

  .positive {
    color: green !important;
  }

  .negative {
    color: red !important;
  }

  .remove_transaction_wrapp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .remove_transaction_block {
      transform: translateY(150%);
      width: 320px;
      height: 230px;
      padding: 20px 20px;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;


      .remove_transaction_title_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;

        svg {
          cursor: pointer;
        }
      }

      span {
        font-size: 0.9rem;
        font-family: 'Roboto';
        margin-bottom: 10px;

      }

      .button_cancel {
        webkit-box-align: center;
        align-items: center;
        background: rgb(239, 242, 245);
        border: 0px;
        border-radius: 5px;
        display: inline-flex;
        color: rgb(0, 0, 0);
        cursor: pointer;
        -webkit-box-pack: center;
        justify-content: center;
        outline: 0px;
        font-weight: 600;
        width: 100%;
        height: 48px;
        font-size: 14px;
        padding: 0px 24px;
        line-height: 24px;
        transition: all .3s ease;

        &:hover {
          background: rgb(222, 227, 231);
        }
      }

      .button_remove {
        webkit-box-align: center;
        align-items: center;
        background: rgb(56, 97, 251);
        border: none;
        border-radius: 5px;
        display: inline-flex;
        color: white;
        cursor: pointer;
        -webkit-box-pack: center;
        justify-content: center;
        outline: 0px;
        font-weight: 600;
        width: 100%;
        height: 48px;
        font-size: 14px;
        padding: 0px 24px;
        line-height: 24px;
        transition: all .3s ease;
        width: 100%;

        &:hover {
          background: rgb(56, 134, 251);
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .headerCell,
  .dataCell {
    padding: 6px;
  }

  .hidden {
    display: none;
  }


}


@media screen and (max-width: 1100px) {
  .tableContainer .headerCell:nth-child(8),
  .tableContainer .headerCell:nth-child(9),
  .tableContainer .dataCell:nth-child(8),
  .tableContainer .dataCell:nth-child(9) {
    display: none;
  }
}