
.edit_popup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 100%;
  max-height: 330px;
  background-color: whitesmoke;
  padding: 10px 13px;
  box-shadow: silver 0px 1px 12px, silver 0px 1px 2px;
  transition: box-shadow 150ms ease-in 0s;


  .create_popup_block {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    h2 {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 1rem;

    }

    svg {
      cursor: pointer;
    }


  }

  .avatar_block {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-bottom: 5px;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 500;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 35px;
        border: 1px solid silver;

        svg {

          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .floor_block {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-family: 'Roboto';
      font-size: 0.8rem;
      font-weight: 500;
    }

    input {
      margin-top: 5px;
      width: 100%;

      padding: 12px;
      margin-bottom: 4px;
      background: #ffff;
      border: 1px solid #80b5ef;
      border-radius: 8px;
      font-size: 1rem;
      transition: all 1s ease;


      &::placeholder {
        padding-left: 5px;
        transition: all 0.5s ease;
      }

      &:hover {

        border: 1px solid #80b5ef;
      }

      &:focus {
        outline: none;
        background: white;
        border: 1px solid #80b5ef;


        &::placeholder {
          font-size: 0.72rem;
          transform: translateY(-15px);

        }
      }

    }

    span {
      color: gray;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .change {
    background: rgb(56, 97, 251);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: all .2s ease;
    cursor: pointer;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.8rem;
    border: none;

    &:hover {
      background: rgb(56, 134, 251);
    }
  }

  button {
    margin-bottom: 10px;
    background: rgb(56, 97, 251);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: all .2s ease;
    cursor: pointer;
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.8rem;
    border: none;

    &:hover {
      background: rgb(56, 134, 251);
    }
  }
}
