.trending_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  box-shadow: rgba(128, 138, 157, 0.04) 0px 8px 32px, rgba(128, 138, 157, 0.12) 0px 1px 2px;
  transition: box-shadow 150ms ease-in 0s;
}
.trending_item .trending_title {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}
.trending_item .trending_title h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trending_item .trending_title span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: auto !important;
  padding-right: 5px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: blue;
  font-family: "Roboto";
  font-weight: 400;
}
.trending_item ul {
  padding-top: 10px;
  width: 100% !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  justify-content: space-between;
  gap: 10px !important;
}
.trending_item ul .trending_list_item {
  padding: 0.5px 5px !important;
  width: 380px !important;
  margin: 0 auto !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 5px !important;
  font-family: "Roboto";
  color: rgb(34, 37, 49);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}
.trending_item ul .trending_list_item:hover {
  background: whitesmoke;
  border-radius: 8px;
  width: 100%;
}
.trending_item ul .trending_list_item:hover img {
  transition: all 0.2s ease;
}
.trending_item ul .trending_list_item img {
  width: 20px;
  margin: 0 !important;
  padding: 0 !important;
}
.trending_item ul .trending_list_item span {
  margin-left: 5px;
  color: gray;
}
.trending_item ul .trending_list_item .price_changed {
  margin-left: auto !important;
}
.trending_item .positive {
  color: green;
}
.trending_item .negative {
  color: red;
}

@media screen and (max-width: 940px) {
  .trending_item {
    width: 400px;
    height: 235px;
  }
  .trending_item .trending_title svg {
    width: 20px;
  }
  .trending_item .trending_title h2 {
    font-size: 1rem;
  }
  .trending_item .trending_title span {
    margin-left: auto !important;
    font-size: 0.9rem;
  }
  .trending_item ul .trending_list_item {
    font-size: 0.8rem !important;
  }
  .trending_item ul .trending_list_item img {
    width: 18px !important;
  }
  .trending_item ul .trending_list_item span {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 800px) {
  .trending_item {
    width: 340px;
    height: 235px;
  }
  .trending_item ul .trending_list_item {
    width: 310px !important;
  }
  .trending_item ul .trending_list_item img {
    width: 18px !important;
  }
}
@media screen and (max-width: 540px) {
  .trending_item {
    width: 300px;
    height: 230px;
  }
  .trending_item .trending_title svg {
    width: 15px;
  }
  .trending_item .trending_title h2 {
    font-size: 1rem;
  }
  .trending_item .trending_title span {
    margin-left: auto !important;
    font-size: 0.8rem;
  }
  .trending_item ul .trending_list_item {
    width: 280px !important;
    font-size: 0.8rem !important;
  }
  .trending_item ul .trending_list_item img {
    width: 18px !important;
  }
  .trending_item ul .trending_list_item span {
    font-size: 0.7rem !important;
  }
}

/*# sourceMappingURL=Trending.module.css.map */
